body {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-align: center;
    background-color: #5087f542;
 
}
 
h1, p {
    background-color: #00ffff8e;
    border-radius: 100px 15px;
    padding: 10px;
}

.imagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img, iframe {
    width: 350px;
    height: 400px;
    border-radius: 25%;
    margin: 3%;
    border: 2px solid;
    border-color: #000000d0; 
    box-shadow: 8px 1px 4px 2px #0000ff71;
}


